.header-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10rem 5rem; /* Default padding for larger screens */
    text-align: center;
    justify-content: center;
  }
  
  .header-title {
    font-size: 120px; /* Default font size for larger screens */
    line-height: 5rem;
    margin-bottom: 50px;
  }
  
  .header-button {
    padding: 9px 2rem; /* Consistent padding for the button */
    margin: auto;
    border-radius: 50px;
    border: thin solid;
    font-size: 12px;
  }
  
  /* Mobile styles */
  @media (max-width: 599px) {
    .header-container {
      padding: 6rem 0; /* Padding for mobile devices */
    }
  
    .header-title {
      font-size: 50px; /* Smaller font size for mobile */
      line-height: 3rem;
    }
  }
  